@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 122.22222%;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  color: #848789;
  font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(70px, auto);
  -ms-grid-columns: 1fr;
      grid-template: 1fr minmax(70px, auto)/1fr;
      grid-template-areas: "main" "footer";
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 65px;
}

.header__logo {
  position: relative;
  top: -55px;
  left: 50%;
  width: 94px;
  height: 85px;
  -webkit-transform: translateX(-47px);
          transform: translateX(-47px);
}

.header__logo img {
  width: 100%;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list li {
  padding: 0px 36px;
  position: relative;
}

.menu__list li:nth-child(1)::after, .menu__list li:nth-child(3)::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 2px;
  height: 2px;
  background-color: #4d4959;
}

.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 36px;
}

.menu__list li:nth-child(3) {
  padding: 0px 36px 0px 110px;
}

.menu__link {
  color: #4d4959;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.6px;
}

.menu__link:hover {
  color: #69c3a1;
}

.page {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  min-width: 0;
}

.top {
  height: 100vh;
  max-width: 100%;
}

.top__image {
  height: 100vh;
}

.generation {
  background-color: #f7f7f7;
  padding: 118px 0px 140px 0px;
}

@media (max-width: 1500px) {
  .generation {
    padding: 90px 0px 100px 0px;
  }
}

@media (max-width: 1080px) {
  .generation {
    padding: 60px 0px 70px 0px;
  }
}

.generation__body {
  max-width: 1040px;
  padding: 0px 20px;
  margin: auto;
}

.generation__icon {
  margin: 0px 0px 30px 0px;
}

.generation__title {
  margin: 0px 0px 35px 0px;
}

.generation__text {
  line-height: 34px;
}

@media (min-width: 768px) {
  .brands__row {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 1080px) {
  .brands__row {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.brands__item {
  position: relative;
}

.brands__item_b {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

.brands__item_b .brands__img {
  padding: 0px 0px 70% 0px;
}

@media (min-width: 1080px) {
  .brands__item_b {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

.brands__item_m {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

.brands__item_m .brands__img {
  padding: 0px 0px 100% 0px;
}

.brands__logo {
  opacity: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.5);
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.brands__logo:hover {
  opacity: 1;
}

.brands__logo img {
  margin: auto;
}

.brands__img {
  width: 100%;
  padding: 0px 0px 37.51% 0px;
}

@media (min-width: 768px) {
  .brands__img {
    height: 100%;
  }
}

.brands__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2 span;
      grid-row-start: 2 span;
  padding: 60px 65px;
  position: relative;
  z-index: 2;
}

.brands__content::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px -10px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 1500px) {
  .brands__content {
    padding: 30px 40px;
  }
}

.brands__icon {
  margin: 0px 0px 25px 0px;
}

.brands__title {
  margin: 0px 0px 20px 0px;
}

.brands__text {
  text-align: justify;
  line-height: 30px;
  font-size: 16px;
  position: relative;
  padding: 0px 0px 35px 0px;
}

.brands__text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 1px;
  margin: 0px 0px 0px -25px;
  background-color: #848789;
}

@media (max-width: 1500px) {
  .brands__text {
    padding: 0px 0px 15px 0px;
  }
}

.twitter-slider {
  padding: 125px 0px 70px 0px;
  max-width: 100%;
  background-color: #f7f7f7;
}

.twitter-slider__wrapper {
  max-width: 100%;
}

.twitter-slider__container {
  max-width: 1040px;
  padding: 0px 20px;
  margin: 0 auto;
}

.twitter-slider__logo {
  margin: 0px 0px 30px 0px;
}

.twitter-slider__title {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}

.twitter-slider__title_time {
  font-weight: 300;
}

.twitter-slider__text {
  margin: 0px 0px 50px 0px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
}

.twitter-slider .swiper-pagination {
  bottom: 70px;
}

.twitter-slider .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  line-height: 20px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #a9afb3;
  opacity: 1;
}

.twitter-slider .swiper-pagination-bullet-active {
  background-color: #a9afb3;
}

.shop__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(2, 1fr)/repeat(6, 1fr);
  grid-auto-flow: column;
}

.shop__item {
  position: relative;
}

.shop__item_bh {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.shop__item_bh .shop__image {
  padding: 0px 0px 50% 0px;
}

.shop__item_bv {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.shop__logo {
  opacity: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(100, 194, 158, 0.5);
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.shop__logo:hover {
  opacity: 1;
}

.shop__logo img {
  margin: auto;
  margin-bottom: 10px;
}

.shop__logo span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.shop__image {
  height: 100%;
  width: 100%;
  padding: 0px 0px 100% 0px;
}

.shop__bottom {
  padding: 75px 0px;
  background-color: #282f35;
}

.shop__button {
  display: inline-block;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0px 57px;
}

.shop__button:hover {
  color: #000000;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.subscribe {
  padding: 110px 0px;
}

.subscribe__logo {
  margin: 0px 0px 35px 0px;
}

.subscribe__text {
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  margin: 0px 0px 35px 0px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__input {
  width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  padding: 28px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
  margin: 0px 8px 0px 0px;
}

.subscribe__button {
  height: 69px;
  background-color: #64c29e;
  color: #fff;
  padding: 0px 45px;
  font-size: 24px;
  line-height: 69px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #f7f7f7;
}
