//шрифты
@import "_fonts";
//========================================================================================================================================================
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1500;
$md1: $maxWidthContainer + 12;
$md2: 1099.98;
$md3: 991.98;
$md4: 767.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
@import "_null";
html,
body {
	height: 100%;
	line-height: 22 / 18 * 100%;
	font-size: 18px;
	text-align: center;
	background-color: #fff;
	color: #848789;
	font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
//========================================================================================================================================================
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	display: grid;
	grid-template: 1fr minmax(70px, auto) / 1fr;
	grid-template-areas:
		"main"
		"footer";
}

.icon {
}
.title {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #353738;
}
//========================================================================================================================================================

.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 65px;
	// .header__menu
	&__menu {
	}
	// .header__logo
	&__logo {
		position: relative;
		top: -55px;
		left: 50%;
		width: 94px;
		height: 85px;
		transform: translateX(-47px);
		img {
			width: 100%;
		}
	}
}
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: grid;
		grid-auto-flow: column;
		justify-content: center;

		li {
			padding: 0px 36px;
			position: relative;

			&:nth-child(1)::after,
			&:nth-child(3)::after {
				content: "";
				position: absolute;
				bottom: 6px;
				right: 0;
				width: 2px;
				height: 2px;
				background-color: #4d4959;
			}
			&:nth-child(2) {
				padding: 0px 110px 0px 36px;
			}
			&:nth-child(3) {
				padding: 0px 36px 0px 110px;
			}
		}
	}
	// .menu__link
	&__link {
		color: #4d4959;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2.6px;

		&:hover {
			color: #69c3a1;
		}
	}
}
.page {
	grid-area: main;
	min-width: 0;
}
//========================================================================================================================================================

.top {
	height: 100vh;
	max-width: 100%;

	//top__image
	&__image {
		height: 100vh;
	}
}
//========================================================================================================================================================
.generation {
	background-color: #f7f7f7;
	padding: 118px 0px 140px 0px;

	@media (max-width: 1500px) {
		padding: 90px 0px 100px 0px;
	}
	@media (max-width: 1080px) {
		padding: 60px 0px 70px 0px;
	}
	//.generation__body
	&__body {
		max-width: 1040px;
		padding: 0px 20px;
		margin: auto;
	}
	// .generation__icon
	&__icon {
		margin: 0px 0px 30px 0px;
	}
	// .generation__title
	&__title {
		margin: 0px 0px 35px 0px;
	}
	// .generation__text
	&__text {
		line-height: 34px;
	}
}

//========================================================================================================================================================
.brands {
	// display: grid;
	// grid-template-rows: repeat(3, auto);

	//brands__row
	&__row {
		@media (min-width: 768px) {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}

		@media (min-width: 1080px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// brands__item
	&__item {
		position: relative;
		// .brands__item_b
		&_b {
			grid-row-start: span 3;
			.brands__img {
				padding: 0px 0px 70% 0px;
			}
			@media (min-width: 1080px) {
				grid-column-start: span 2;
			}
		}
		// .brands__item_m
		&_m {
			grid-row-start: span 3;
			.brands__img {
				padding: 0px 0px 100% 0px;
			}
		}
	}
	//brands__logo
	&__logo {
		opacity: 0;
		display: grid;
		width: 100%;
		height: 100%;
		background-color: rgba(100, 194, 158, 0.5);
		position: absolute;
		z-index: 2;
		transition: all 0.3s ease 0s;
		&:hover {
			opacity: 1;
		}
		img {
			margin: auto;
		}
	}
	// .brands__img
	&__img {
		width: 100%;
		padding: 0px 0px 37.51% 0px;
		@media (min-width: 768px) {
			height: 100%;
		}
	}
	// .brands__content
	&__content {
		display: grid;
		grid-row-start: 2 span;
		padding: 60px 65px;
		position: relative;
		z-index: 2;

		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			width: 20px;
			height: 20px;
			margin: 0px 0px 0px -10px;
			background-color: #fff;
			transform: rotate(45deg);
		}
		@media (max-width: 1500px) {
			padding: 30px 40px;
		}
	}
	// .brands__icon
	&__icon {
		margin: 0px 0px 25px 0px;
	}
	// .brands__title
	&__title {
		margin: 0px 0px 20px 0px;
	}
	// .brands__text
	&__text {
		text-align: justify;
		line-height: 30px;
		font-size: 16px;
		position: relative;
		padding: 0px 0px 35px 0px;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 50px;
			height: 1px;
			margin: 0px 0px 0px -25px;
			background-color: #848789;
		}
		@media (max-width: 1500px) {
			padding: 0px 0px 15px 0px;
		}
	}
}

//========================================================================================================================================================
.twitter-slider {
	padding: 125px 0px 70px 0px;
	max-width: 100%;
	background-color: #f7f7f7;
	// .twitter-slider__wrapper
	&__wrapper {
		max-width: 100%;
	}
	//.twitter-slider__container
	&__container {
		max-width: 1040px;
		padding: 0px 20px;
		margin: 0 auto;
	}
	// .twitter-slider__slide
	&__slide {
	}
	// .twitter-slider__logo
	&__logo {
		margin: 0px 0px 30px 0px;
	}
	// .twitter-slider__title
	&__title {
		margin: 0px 0px 20px 0px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #353738;
		// .twitter-slider__title_time
		&_time {
			font-weight: 300;
		}
	}
	// .twitter-slider__text
	&__text {
		margin: 0px 0px 50px 0px;
		font-size: 24px;
		line-height: 34px;
		font-weight: 400;
		font-style: italic;
	}

	.swiper-pagination {
		bottom: 70px;
	}
	.swiper-pagination-bullet {
		width: 11px;
		height: 11px;
		line-height: 20px;
		font-size: 14px;
		background-color: transparent;
		border: 1px solid #a9afb3;
		opacity: 1;
	}
	.swiper-pagination-bullet-active {
		background-color: #a9afb3;
	}
}

//========================================================================================================================================================
.shop {
	// .shop__content
	&__content {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(6, 1fr);
		grid-auto-flow: column;
	}
	// .shop__item
	&__item {
		position: relative;
		// .shop__item_bh
		&_bh {
			grid-column-start: span 2;
			.shop__image {
				padding: 0px 0px 50% 0px;
			}
		}
		// .shop__item_bv
		&_bv {
			grid-row-start: span 2;
		}
	}
	// .shop__logo
	&__logo {
		opacity: 0;
		display: grid;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(100, 194, 158, 0.5);
		position: absolute;
		z-index: 2;
		transition: all 0.3s ease 0s;
		&:hover {
			opacity: 1;
		}
		img {
			margin: auto;
			margin-bottom: 10px;
		}
		span {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #ffffff;
		}
	}
	// .shop__image
	&__image {
		height: 100%;
		width: 100%;
		padding: 0px 0px 100% 0px;
	}
	// .shop__bottom
	&__bottom {
		padding: 75px 0px;
		background-color: #282f35;
	}
	// .shop__button
	&__button {
		display: inline-block;
		height: 50px;
		font-size: 14px;
		line-height: 50px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		border: 1px solid #ffffff;
		padding: 0px 57px;

		&:hover {
			color: #000000;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
	}
}

//========================================================================================================================================================
.subscribe {
	padding: 110px 0px;
	// .subscribe__logo
	&__logo {
		margin: 0px 0px 35px 0px;
	}
	// .subscribe__text
	&__text {
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		margin: 0px 0px 35px 0px;
	}
	// .subscribe__form
	&__form {
		display: flex;
		justify-content: center;
	}
	// .subscribe__input
	&__input {
		width: 400px;
		height: 69px;
		background-color: #ffffff;
		border: 1px solid #d3d7d9;
		padding: 28px;
		font-size: 20px;
		line-height: 24px;
		font-weight: 400;
		font-style: italic;
		color: #929292;
		margin: 0px 8px 0px 0px;
	}
	// .subscribe__button
	&__button {
		height: 69px;
		background-color: #64c29e;
		color: #fff;
		padding: 0px 45px;
		font-size: 24px;
		line-height: 69px;
		font-weight: 300;
		text-transform: uppercase;
		cursor: pointer;
	}
}

//========================================================================================================================================================

.footer {
	grid-area: footer;
	background-color: #f7f7f7;
	// .footer__contacts
	&__contacts {
	}
	// .footer__social
	&__social {
	}
	// .footer__sign
	&__sign {
	}
}
